.category {
    background-color: white;
    max-width: 256px;
    width: 256px;
}

.input-container {
    display: flex;
    position: relative;
    max-width: 100%;
    margin-bottom: 20px;
}

.category-delete {
    background: none;
    border: none;
    cursor: pointer;

    color: rgba(162, 162, 167, 0.4);
    transition: color 0.3s ease-in-out;
}

.category-delete:hover {
    color: #ff4040;
}

.category-name-input {
    box-sizing: border-box;
    border: none;
    width: 100%;
    border-bottom: 2px solid #ffffff;

    font-family: 'Harlow Solid Italic',  Arial, sans-serif;
    font-size: 16px;
}

.category-name-input:focus {
    outline: none;
}

.input-container::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 4px;
    background-color: mediumpurple;
    border-radius: 5px;
}

.tasks-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.add-task {
    max-height: 40px;
    max-width: 256px;
    margin-top: 10px;
    margin-bottom: 10px;

    font-family: 'Harlow Solid Italic',  Arial, sans-serif;
    font-size: 13px;
    color:  rgba(162, 162, 167, 0.8);

    transition: color 0.3s ease-in-out;
}

.add-task > label {
    cursor: pointer;
}

.add-task:hover {
    color:  rgb(38, 38, 38);
}

.modal-task-name, .modal-task-description{
    border-radius: 8px;
    border: 2px solid rgba(162, 162, 167, 0.8);
    width: 100%;

    font-family: 'Harlow Solid Italic',  Arial, sans-serif;
    font-size: 16px;
}

.modal-task-description {
    max-width: 384px;
    min-width: 384px;
    min-height: 30px;
    position: absolute;
    margin-top: 40px;
    max-height: 200px;
}
