.categories-container {
    display: flex;
    column-gap: 15px;
}

.category {
    background-color: cyan;
    padding: 10px;
    border: 2px solid #006f6f;
}

.tasks-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.add-column-btn {
    height: 30%;
    margin-top: auto;

    background-color: cyan;
    border: 2px solid #006f6f;
    color: red;
}