.categories-container {
    display: flex;
    column-gap: 15px;
}

.add-column-btn {
    height: 30%;
    margin-top: auto;

    background-color: cyan;
    border: 2px solid #006f6f;
    color: red;
}