.task {
    width: 450px;
    height: 200px;
    border: 2px solid #FF6C00;
    color: #A64600;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.task-checkbox {
    width: 25px;
    height: 25px;
    border: 2px solid #FF6C00;
    border-radius: 10px;
    display: inline-block;
    vertical-align: center;
    margin-right: 10px;
}

.task-content {
    display: inline-block;
    width: 371px;
    height: 136px;
}

.task-name {
    display: block;
    text-align: center;
    width: 100%;
    font-family: "Comfortaa SemiBold", sans-serif;
}

.task-description {
    display: block;
    width: 100%;
    font-family: "Comfortaa SemiBold", sans-serif;
}