.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.task-description {
    max-width: 224px;
    max-height: 65px;
    margin-left: 0;
}

.task-manage-form {
    text-align: center;
    display: inline-block;
    background-color: rgb(175, 254, 202);
    max-width: 250px;
    height: 300px;
    border: 2px solid rgb(20, 54, 46);
    border-radius: 5px;
    padding: 10px;
}

.tasks-container {
    border: 2px solid #FF6C00;
    border-radius: 5px;
    background-color: #FFAE73;
}

.category-columns {
    display: inline-block;
    align-items: center;
    justify-content: center;
    position: relative;
}

.category-select {
    width: 224px;
}

button {
    width: 224px;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(48, 130, 111);
    border: 2px solid rgb(20, 54, 46);
    border-radius: 3px;

    color: rgb(0, 255, 196);
    font-family: "Comfortaa SemiBold", sans-serif;
}

h2 {
    font-family: "Comfortaa SemiBold", sans-serif;
    color: #A64600;
}

h4 {
    font-family: "Comfortaa SemiBold", sans-serif;
    color: rgb(48, 130, 111);
}

input {
    width: 224px;
}